/* styles.css */


.noticias {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.noticia {
    display: flex;
    background-color: #f4f4f4;
    padding: 20px;
    border: 4px solid #000000;
}

.noticia-derecha {
    flex-direction: row;
}

.noticia-izquierda {
    flex-direction: row;
}

.noticia .imagen2 {
    flex: 1;
    padding: 15px;
}

.noticia .imagen {
    flex: 0 1 40%;
    padding: 15px;
}

.noticia img {
    max-width: 100%;
    height: auto;
}
